.modal-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(
    124deg,
    /* white */ rgba(255, 255, 255, 0.9),
    /* teal */ rgba(79, 209, 197, 0.8),
    /* blue */ rgba(59, 130, 246, 0.7),
    /* indigo */ rgba(99, 102, 241, 0.8),
    /* black */ rgba(0, 0, 0, 0.9),
    /* black */ rgba(0, 0, 0, 0.95)
  );
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.modal-container-sticky {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  box-shadow: 0 -1rem 50rem 75rem rgba(20, 150, 200, 0.1);
}

.modal-overlay-slide {
  transition: all 500ms ease-out;
  transform: translateY(80%) scale(5);
}
.ReactModal__Overlay--after-open.modal-overlay-slide {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.ReactModal__Overlay--before-close.modal-overlay-slide {
  opacity: 0;
  transform: translateY(80%) scale(5);
}
